.box {
  margin-bottom: 30px;
  @include breakpoint-up(large) {
    max-width: 1440px;
    margin-right: auto;
    margin-left: auto;
  }
}

.box-inner {
  max-width: 700px;
  margin: 0 auto;
}

.box-text {
  max-width: 500px;
  text-align: center;
  justify-self: center;
  margin: 0 auto;
  padding: 20px 0;
}

.box-text .btn {
  margin-top: 20px;
}

.box-f .box-text {
  max-width: 600px;
}

.divider {
  width: 95%;
  height: 1px;
  background: #ccc;
  margin: 40px auto;
}

// Grid Styles
.grid-col-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  align-items: center;
  justify-content: space-between;

  @include breakpoint-down(small) {
    grid-template-columns: 1fr;
  }
}

.grid-reversed :first-child {
  order: 2;

  @include breakpoint-down(small) {
    order: 0;
  }
}

// Mobile Menu
.mobile-menu {
  position: fixed;
  top: 85px;
  right: 0px;
  color: #000;
  background-color: #fff;
  width: 80%;
  height: 100%;
  padding: 30px;
  box-shadow: inset 0 4px 3px -3px rgba(0, 0, 0, 0.1),
    inset 0 4px 2px -2px rgba(0, 0, 0, 0.07);
  transition: all 0.3s;
}

.mobile-menu img {
  width: 20px;
  height: 20px;
}

.mobile-menu ul {
  line-height: 3;
  border-bottom: 1px solid #777;
  padding-bottom: 10px;
  margin-bottom: 30px;
}

.mobile-menu a {
  text-decoration: none;
  font-size: 20px;
}

.mobile-menu a:hover {
  color: $primaryColour;
}

.mobile-menu div {
  margin-top: 20px;
}

.mobile-menu div a {
  display: flex;
  align-items: center;
  font-size: 16px;
}

.hidden {
  transform: translateX(100%);
}

// .hide-mobile-menu {
//   transition: translateX(-100%);
// }

.no-scroll {
  overflow: hidden;
}
