// Colours

// Primary
$primaryColour: #006241;
$secondaryColour: #d50032;
$extraColour: #d4e9e2;

// Neutral
$veryDarkDesaturatedBlue: hsl(212, 27%, 19%);
$veryDarkGrayishBlue: hsl(213, 9%, 39%);
$darkGrayishBlue: hsl(232, 10%, 55%);
$grayishBlue: hsl(210, 4%, 67%);
$white: hsl(0, 0%, 100%);

// Font Weight
$font-weight-small: 600;
$font-weight-medium: 700;
$font-weight-large: 900;
